p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}

p.important {
    font-size: 1.5em;
    font-weight: 900;
}

p.spaced {
    letter-spacing: .2em;
    word-spacing: .3em;
    line-height: 1.8em; /* 1.2 is normal */
}

p.pretty {
    text-align: justify;
}

p.indented {
    text-indent: 1em;
}

p.margined {
    margin: 3em;
}

img.block {
    display: block;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}

h2#orange-text {
    color: orange;
}

div#special {
    margin: 0 3em;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
}

h4, p.centered {
    text-align: center;
}

blockquote {
    font-size: .75em;
    color: slategray;
}

.typewriter {
    font-family: "Courier New", Courier, monospace;
}

.italicized {
    font-style: italic;
}

.red-text {
    color: red;
}

.violet-border {
    border: 2px solid violet;
    padding: 2em;
}